# postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=auth-db
DATABASE_URL=postgres://postgres:postgres@localhost:5432/auth-db?sslmode=disable
MAX_CONNS=10
MIN_CONNS=2
MAX_CONN_LIFETIME=10m
MAX_CONN_IDLE_TIME=5m

# redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis

# app
PORT=8080
APP_ENV=dev

# log
LOG_LEVEL=info

# session
SESSION_TTL=168h
SESSION_ABSOLUTE_TTL=336h
SESSION_REFRESH_THRESHOLD=24h

#mailer
# From = same email as SMTP_USERNAME for Gmail dev. Display name is optional:
# SMTP_FROM=you@gmail.com
# SMTP_FROM=My App <you@gmail.com>
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=abc123
SMTP_PASSWORD=secret
SMTP_FROM=you@gmail.com
SMTP_DOMAIN=gmail.com
