# postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=finance_db
DATABASE_URL=postgres://postgres:postgres@localhost:5432/finance_db?sslmode=disable
MAX_CONNS=10
MIN_CONNS=2
MAX_CONN_LIFETIME=10m
MAX_CONN_IDLE_TIME=5m

# redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis